.main {
    display: flex;
    justify-content: center;

    section {
        display: flex;
        gap: 16px;
        flex-direction: column;
       
    }
    &__div {
        display: flex;
        gap: 16px;
        font-size: 14px;

        button {
            background-color: transparent;
            border: none;

            &:active {
                position: relative;
                top: 1px;
            }
        }
    }
}