.userModal{
    display: flex;
    flex-direction: column;
    gap:8px;
    background-color: rgb(110, 110, 110);
    border-radius: .4rem;
    padding: .4rem;

    li{
        padding: .4rem;
        font-size: .8rem;
        text-transform: uppercase;
    }
    li:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        // background-color: rgb(147, 147, 147);
        border-radius: .3rem;
        cursor: pointer;
        
    }
}