.userModal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--background-user-modal);
  border-radius: 0.4rem;
  padding: 0.4rem;
  ul {
    li {
      padding: 0.4rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      border-radius: 0.4rem;
    }
  }
}
