.MainModal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: flex-start;
  .backgroundModal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--background-config-modal-absolute);
  }
  .modal {
    width: 40vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
    position: relative;
    background-color: var(--background-config-modal);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &__div {
      &__buttonX {
        display: flex;
        justify-content: flex-end;

        button {
          background: transparent;
          border: none;
          font-size: 24px;
          color: white;
        }
      }

      &__form {
        display: flex;
        flex-direction: column;

        &__title {
          padding: 1rem;
        }
        h1 {
          text-align: center;
          text-transform: uppercase;
          font-size: 1.2rem;
          border-bottom: 1px solid rgb(220, 220, 220);
        }

        h2 {
          font-size: 1.2rem;
        }
        form {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          .div__input {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
          }

          input {
            background-color: var(--background-config-modal-input);
            color: var(--color-config-modal-input);
            border: none;
            border-radius: 0.5rem;
            display: block;
            padding: 0.8rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
