.input {
  background-color: var(--background-config-modal-input);
  color: var(--color-config-modal-input);
  border: none;
  border-radius: 0.5rem;
  display: block;
  padding: 0.8rem;
  font-size: 1rem;
}
