.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: var(--background-header);
  justify-content: space-around;
  align-items: center;
  position: relative;
  div {
    display: flex;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    .liSlowHover {
      display: flex;
      transition: transform 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }
    }

    .userModal {
      position: relative;
      .userModalAbsolute {
        position: absolute;
        top: 35px;
        right: 0;
      }
    }
  }
}
